// smartphone
$screen-xs-min : 375px;

//small tablet and large phone landscape
$screen-sm-min: 576px;

//small tablet portrait view
$screen-md-min: 768px;

// Tablets and small desktop
$screen-lg-min: 1024px;

// Lage tablets and desktop
$screen-xl-min: 1200px;

// Lage desktop
$screen-xxl-min: 1500px;